.Homecontainer{
    position: fixed; 
    top: 30%;
    left: 50%;
    background-color: #18243C;
    height: 240px;
    width: 450px;
    border-radius: 18px;
    overflow: hidden;
}

.contentSection h3{
 
    padding:10px;
   margin-left: 10px;

}
.questionSection p{
  padding:5px;
}

.leftSection{
    float:left;
}
.rightSection{
    float:right;
}

.answearSection ul{
 list-style-type:none;
}

#answearSectionForm {
   
    height: auto;
    width:120px;
    border-radius: 10px;
    color: aliceblue;
    font-weight: 400;
    margin-top: 20px;
    font-size: 12px;
}
.scoreSection p{
 font-size: 25px;
 padding-top: 55px;
 margin-left:35px;
}

